body {
    background-color: #9fe4e4!important;
    text-align: center!important;
}

.jumbotron {
    background-color: #e49fdb!important;
    border-bottom: 2px solid black;
    border-radius: 0!important;
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: underline;
}

h3, h4, #wins, #losses{
    font-family: 'Indie Flower', cursive;
}

#underscores, #guessedLetters, #remaining, #wins, #losses {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
}

#windiv, #losediv {   
    width: 40%;
    margin-left: 30%;
    max-height: 8%;
}

#gameInfo {
    border: 2px solid black;
    padding: 15px;
}

#hangMan {
    border: 2px solid black;
    display: inline-block;
}

#standingTreeTop {
    width: 25%;
    margin-top: 10%;
    border-bottom: 5px solid black;
    margin-left: 35%;
    visibility: hidden;
}

#standingTree {
    border-left: 5px solid black;
    height: 70%;
    margin-left: 59.2%;
    visibility: hidden;
}

#rope {
    border-left: 5px solid black;
    height: 10%;
    margin-left: 35%;
    margin-top: -55%;
    visibility: hidden;   
}

#head {
    height: 16%;
    width: 16%;
    background-color: transparent;
    border: 5px solid black;
    border-radius: 50%;
    margin-left: 27.5%;
    visibility: hidden;
}

#body {
    border-left: 5px solid black;
    height: 20%;
    margin-left: 35%;
    visibility: hidden;
}

#left-arm {
    width: 9%;
    height: 5%;
    margin-left: 26.5%;
    margin-top: -13%;
    border-bottom: 5px solid black;
    -webkit-transform:
        translateY(-20px)
        translateX(5px)
        rotate(27deg); 
    visibility: hidden;
}

#right-arm {
    width: 10%;
    height: 5%;
    margin-left: 33.5%;
    margin-top: -12%;
    border-bottom: 5px solid black;
    -webkit-transform:
        translateY(20px)
        translateX(5px)
        rotate(-26deg);
    visibility: hidden;
}

#left-leg {
    width: 13%;
    height: 5%;
    margin-left: 24%;
    margin-top: 16%;
    border-bottom: 5px solid black;
    -webkit-transform:
        translateY(20px)
        translateX(5px)
        rotate(-66deg);
    visibility: hidden;
}

#right-leg {
    width: 13%;
    height: 5%;
    margin-left: 32%;
    margin-top: -4%;
    border-bottom: 5px solid black;
    -webkit-transform:
        translateY(20px)
        translateX(5px)
        rotate(68deg);
    visibility: hidden;
}
